
    
#tit {
    font: bold;
    background-color: #4f5d75;
    color: white ;
}

#principal {
    width: 50%;
    margin-left: 22%;
    background-color: #ced4da;
    margin-top: -4.3%;
}
#titulo {
    background-color: #4f5d75;
    margin-left: 22%;
    margin-right: 28%;
}