
body {
    background-color: rgb(22, 19, 19);
    margin: 0em;
    background-image: url(../img/fundo2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

#pag {
    width: 1000px;
    margin: auto;
    color: black;
    background-color: bisque;
}

header {
    background-color: coral;
    background-image: url(../img/FBwMEAMWQAA6BOO.jpg);
    background-size: 100% 100%;
    color: bisque;
    height: 13em;
    max-width: 100%;
    padding: 2em;
    text-align: right;
}

#batman {
    height: 100%;
    width: 80%;
    position: relative;
    margin-top: -50px;
}

#centro {
    color: white;
}