
body {
    background-color: rgb(22, 19, 19);
    margin: 0em;
    background-image: url(../img/fundo2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

#pag {
    width: 66.6%;
    margin: auto;
    color: black;
    background-color: bisque;
}
#principal {
    margin-left: 100px;
}

header {
    background-color: coral;
    background-image: url(../img/FBwMEAMWQAA6BOO.jpg);
    background-size: 100% 100%;
    color: bisque;
    height: 13em;
    max-width: 100%;
    padding: 2em;
    text-align: right;
}

#batman {
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: -50px;
}

#centro {
    color: white;
}

header h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 3.2em;
}

header p {
    font-family: 'League Gothic', sans-serif;
    font-size: 2.5em;
    color: white;
}

nav {
    background-color: #a1c8e7;
    color: brown;
    padding: 1em;
    max-width: 100%;
    margin-left: 179px;
    margin-right: 179px;
    height: 5em;
}

section {
    background-color: #6096ba;
    color: brown;
    padding: 1em;
    max-width: 100%;
    min-height: 55em;
    margin-left: 179px;
    margin-right: 179px;
}

footer {
    background-color: #8ac4ba;
    color: bisque;
    min-height: 3em;
    max-height: 100%;
    margin-left: 179px;
    margin-right: 179px;
    margin-top: -20px;
}

#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
#fechar{
    position: absolute;
    right: 80px;
    top: 5px;
    width: 30px;
    height: 30px;
    color: azure;
    font-size: 3em;
    font-family: 'tahoma';
    cursor: pointer;

}

#quadro {
    width: 40%;
    margin: 15% auto;
    text-align: center;
    background-color: beige;
    padding: 5%;
    border-radius: 10px;


}

#popup input{
    width: 100%;
    padding: 2%;
    margin-bottom: 3%;
}

#quadro a{
        text-decoration: none;

}
#quadro a:hover {
    text-decoration: underline;
}

#msg{
    color: brown;
    display: none;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: black;
    background-color: #a1c8e7;
    border-radius: 5px;
    padding: 20px;
}

a {
    text-decoration: none;
}


ul li {
    float: left;
    width: 20%;
    background-color: #a1c8e7;
    margin-left: 1.5em;
    text-align: center;
    list-style: none;
}

ul li a:hover {
    background-color: #456b85;
}

ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}

ul li a{
    background-color: #6096ba;
}
